.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  background-image: url('https://world-tt.com/blog/news/files/2021/02/franziska-patrick-ger-2020-finals-prg-4473.jpg');
  background-size: contain;
  
  background-position: top center; /* Adjust position to show the upper part of the image */
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay */
  z-index: 1;
}

.hero h1, .hero p, .hero button {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:hover {
  background-color: #e64a19;
}
